<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/tx   
    http://www.springframework.org/schema/tx/spring-tx.xsd
    http://www.springframework.org/schema/security
    http://www.springframework.org/schema/security/spring-security.xsd">

	<!-- filters(intercepts req and response) -->
	<http auto-config="true" use-expressions="true">
		<intercept-url pattern="/AdminHome" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/AddCategory" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/AddProduct" access="hasRole('ROLE_ADMIN')" />
		<!-- <intercept-url pattern="/" access="hasRole('ROLE_ADMIN)"/> -->
		<intercept-url pattern="/AddSupplier" access="hasRole('ROLE_ADMIN')" />
		<!-- access denied page -->
		<access-denied-handler error-page="/denied" />
		<form-login login-page="/Login" default-target-url="/"
			login-processing-url="/perform_login" authentication-failure-url="/Login"
			authentication-success-forward-url="/Login_session_attributes" />
		<!-- username-parameter="usename" password-parameter="password"/> -->
		<logout logout-url="/perform_logout" invalidate-session="true"
			logout-success-url="/" />

		<!-- enable csrf protection -->
		<csrf disable="true" />


	</http>
	<authentication-manager>
		<authentication-provider>
			<jdbc-user-service data-source-ref="dataSource"
				users-by-username-query="select emailid.password, enabled from user where emailid=?"
				authorities-by-username-query="select emailid,role, enabled from user where emailid=?" />
		</authentication-provider>
	</authentication-manager>

</beans:beans>